{% extends 'layout.html' %}

<link rel="stylesheet" href="{{ url_for('static' , filename='base.css') }}" type="text/css" />
<body>
    {% block content %}
        <div class="form-group">
            <form class="form" method="POST">
                {{ form.hidden_tag() }}
                <div>
                    <legend class="loginAs">Login As</legend>
                </div>
                <div class="form-content">
                   
                    <div>
                        {{ form.email.label(class = "form-control-label") }} <br />
                        {% if form.email.errors %}
                            {{ form.email(class = "form-control form-control-lg is-invalid") }}
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.email(class = "form-control form-control-lg") }} 
                        {% endif %}
                        
                    </div>

                    <div>
                        {{ form.password_hash.label(class = "form-control-label") }} <br />
                        {% if form.password_hash.errors %}
                            {{ form.password_hash(class = "form-control form-control-lg is-invalid") }}
                            {% for error in form.password_hash.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.password_hash(class = "form-control form-control-lg") }} 
                        {% endif %}
                        
                    </div>

                    <div>
                        {{ form.remember_me(class = "form-control form-control-lg") }} 
                        {{ form.remember_me.label(class = "form-control-label") }} <br />
                    </div>
                    
                    {{ form.submit(class="submit") }}
                    
                    <p></p>
                    <small>
                        Do not have an account ? <a href="{{ url_for('register') }}">Register</a>
                    </small>
                </div>    
            </form>
    {% endblock content %}
        </div>
        
</body>
